<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/application.css">
    <title>Skill Inventory</title>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
