<form action="/skills" method="post">
  <h2>Enter a new skill</h2>
  <input type="text" name="skill[name]"></br>
  <textarea name="skill[status]"></textarea></br>
  <input type="submit" value="Submit">
</form>
